body {
    background: rgb(228, 226, 226);
    font-family: Verdana;
    max-width: 900px;
    margin: auto;
    font-trans
}

.post_image_topo {
    border: 1px solid rgb(5, 5, 5);
    border-radius: 50%;

}


#title, .subtitle, .post_title {
    color: rgb(0, 0, 2);
}

#title {
    font-size: 40 px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: #505050;

}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15 px;
}

.post {
    background: #eff;
    padding: 15pxm;
    border: 3px solid rgb(34, 90, 107);
    margin-bottom: 15px;
    border-radius: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform:  capitalize;
    text-align: justify;
}

.post_image {
    margin-bottom: 15px;
}

.contacts_list {
    list-style-type: none;
    padding-left: 1px;
}

.contacts_list li a {
    text-decoration: none;
}